<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="register.html">Cadastro</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="patients.html">Login</a></li>
                <li><a href="profile.html">perfil</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="areaUsuarios">
            <!-- Dados dos usuários -->

            <div class="userCard">
                <h3>Nome Completo</h3>
                <p>Idade: XX</p>
                <p>Altura: XX cm</p>
                <p>Peso: XX kg</p>
                <p>Histórico de Doença: XXXX</p>
            </div>

            <div class="userCard">
                <!-- Dados do segundo usuário -->
            </div>

            <!-- Repita as divs para cada usuário -->

        </section>
    </main>

    <footer>
        <p>&copy; 2023 Site com aspectos hierárquicos</p>
    </footer>
</body>

</html>