{{>partials/header}}

<main class="main">
    <h2 class="main__title">Pacientes no registro</h2>
    <!-- Dados dos usuários -->

{{#allPatients}}
    <div class="user-card">
        <h3 class="user-card__name">Nome Completo: {{infos.name}}</h3>
        <p class="user-card__info">Data de Nascimento: {{infos.dateBirth}}</p>
        <p class="user-card__info">Número do SUS: {{infos.numSus}}</p>
    </div>
{{/allPatients}}


    </section>

</main>
{{>partials/footer}}
