{{>partials/header}}

    <section id="conteudoUsuario">
        <!-- Dados do usuário -->

        <div id="painelUsuario">
            <h2>Painel do Usuário</h2>
            <p>Nível de Permissão: Nível 1</p>
            <p>Ações permitidas:</p>
            <ul>
                <li>Ação 1</li>
                <li>Ação 2</li>
                <li>Ação 3</li>
            </ul>
            <p>Ações não permitidas:</p>
            <ul>
                <li>Ação 4</li>
                <li>Ação 5</li>
            </ul>
        </div>

        <!-- Resto do conteúdo do usuário -->
    </section>


{{>partials/footer}}