<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Centro de atendimentos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Cadastro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="patients">Login</a></li>
                <li><a href="/profile">perfil</a></li>
            </ul>
        </nav>
    </header>